---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavTags from "../components/NavTags.astro";
import PageHeading from "../components/PageHeading.astro";
---
<BaseLayout
	title="page not found"
>
	<PageHeading>Page not found</PageHeading>
	<div slot="sidebar-left" class="sidebar-item">
		<NavTags/>
	</div>
</BaseLayout>
