---
import ArticleList from "../components/ArticleList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import NavTags from "../components/NavTags.astro";
import { getArticles } from "./_util.astro";
import PageHeading from "../components/PageHeading.astro";

const posts = await getArticles()
const recentPosts = posts.slice(0, 4)
---
<BaseLayout title="home">
	<PageHeading>Recent articles</PageHeading>
	<ArticleList posts={recentPosts} postHeadingLevel={2} />
	<div slot="sidebar-left" class="sidebar-item">
		<NavTags/>
	</div>
</BaseLayout>
