---
import { type CollectionEntry } from 'astro:content'
import PostHeader from './PostHeader.astro'
import PostTags from './PostTags.astro'

interface Props {
	posts: Array<CollectionEntry<'article'>>
	postHeadingLevel: number
}

const { posts, postHeadingLevel } = Astro.props
const HeadingTag = `h${postHeadingLevel}`
---
<ul
	slot="default"
	class="grid gap-y-5 list-none mx-0 px-0"
	role="list"
>
	{
		posts.map((post) => (
			<li class="m-0 px-0">
				<article>
					<PostHeader
						pubDate={ post.data.pubDate }
					>
						<HeadingTag slot="heading">
							<span class="text-xl font-heading font-medium">
								<a href={ `/articles/${ post.slug }` }>{ post.data.title }</a>
							</span>
						</HeadingTag>
					</PostHeader>
					{ post.data.description && (
						<p class="post-desc">{ post.data.description }</p>
					) }
					<PostTags tags={ post.data.tags } />
				</article>
			</li>
		))
	}
</ul>
