---
import Time from './Time.astro'
import PostTags from './PostTags.astro'

export interface Props {
	pubDate: string;
	tags: Array<string>;
}

const { pubDate, tags } = Astro.props
---
<header class="mt-2 mb-3">
	{ (pubDate || Array.isArray(tags)) && (
		<div class="flex flex-row flex-wrap items-center gap-x-3 gap-y-2 mb-2">
			<span class="post-date">
				<Time datetime={ pubDate }/>
			</span>
			<PostTags tags={ tags }/>
		</div>
	) }
	<slot name="heading" />
</header>
