---
import Time from './Time.astro'
import PostTags from './PostTags.astro'

export interface Props {
	pubDate: string;
	tags: Array<string>;
}

const { pubDate, tags } = Astro.props
---
<header class="mt-2 mb-2">
	<div class="mb-1">
		<Time datetime={ pubDate }/>
	</div>
	<div class="mb-1">
		<slot name="heading" />
	</div>
	<PostTags tags={ tags }/>
</header>
