<footer class="pt-10 pb-8">
	<span aria-hidden="true" class="_gradient-hr"/>
	<nav class="flex flex-wrap items-start gap-x-4 mt-2" aria-label="Utility links">
		<slot name="util-links"/>
		<a href="/sitemap-index.xml">Sitemap</a>
	</nav>
</footer>
