---
import BioSection from '../components/BioSection.astro'
---
<footer class="page-footer pt-2 pb-8">
	<span aria-hidden="true" class="_gradient-hr"/>
	<BioSection/>
	<nav class="flex flex-wrap items-start gap-x-4 mt-4" aria-label="Utility links">
		<slot name="util-links"/>
		<a href="/sitemap-index.xml">Sitemap</a>
	</nav>
</footer>
