@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lexend Deca";
	src: local("Lexend Deca"), url("/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: local("Noto Sans Mono"), url("/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-display: swap;
}

@font-face {
	font-family: "Orbitron";
	src: local("Orbitron"), url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
		format("truetype-variations");
	font-weight: 400 900;
	font-display: swap;
}

:root {
	--u-diamond: "⬩";

	--header-height: 2.4rem;
	--page-row-gap: 1.5rem;
	--content-top: calc(var(--header-height) + var(--page-row-gap));

	--sidebar-height: calc(100vh - var(--content-top));

	--site-spacing-outer: 1.0rem;
	--border-radius: 0.2rem;

	--padding-link: 0.25rem;
	--inline-spacing: 1.2rem;
	--outline-width: 0.1rem;

	/* --skew-x: -10deg; */
	/* --skew-x-rev: calc(-1 * var(--skew-x)); */
}

@layer base {
	*,
	::after,
	::before {
		box-sizing: border-box;
		border-radius: var(--border-radius);
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply text-zinc-600 bg-zinc-100 font-sans;

		min-height: 100vh;

		display: grid;
		grid-template-areas:
			"header"
			"content"
			"footer";
		grid-template-rows: auto 1fr auto;
		column-gap: var(--site-spacing-outer);
		row-gap: var(--page-row-gap);
		padding-inline: var(--site-spacing-outer);
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-heading tracking-wider;
	}

	h1 {
		@apply text-4xl text-zinc-700;
	}
	h2 {
		@apply text-3xl text-zinc-700;
	}
	h3 {
		@apply text-2xl text-zinc-700;
	}
	h4 {
		@apply text-xl text-zinc-700;
	}
	h5 {
		@apply text-lg text-zinc-700;
	}
	h6 {
		@apply text-base text-zinc-700;
	}

	pre {
		@apply p-4;
	}

	ol, ul {
		@apply pl-8;
	}

	ol {
		@apply list-decimal;
	}

	ul {
		list-style-type: var(--u-diamond);
	}

	li {
		@apply pl-2;
	}

	li > :is(ul, ol) {
		@apply mt-0;
	}

	a {
		@apply no-underline text-cyan-700 py-1;
	}

	a:is(:hover, :focus) {
		@apply underline;
	}

	a:focus-visible {
		@apply no-underline outline-zinc-400 outline outline-1 outline-offset-2;
	}
}

@layer components {
	.sidebar-inner {
		position: sticky;
		top: var(--content-top);
		height: var(--sidebar-height);

		display: flex;
		flex-flow: column nowrap;
	}

	.sidebar-item nav {
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.sidebar-item ul {
		max-height: calc(var(--sidebar-height) - 2.0rem);
		@apply pl-4;
	}

	._gradient-hr {
		@apply block h-1 bg-gradient-to-r from-zinc-500 via-zinc-400 to-zinc-300;
	}

	._nav-skip-link {
		--height: 1.5rem;
		--top: calc(-1.8 * var(--height));

		top: var(--top);
		height: var(--height);
		transform: translateY(0);
		transition: transform 200ms ease-in-out;

		@apply bg-zinc-100;
	}

	._nav-skip-link:is(:focus, :focus-visible) {
		transform: translateY(calc(-1 * var(--top)));

		@apply no-underline outline-zinc-400 outline outline-1 outline-offset-2;
	}

	p > code {
		@apply px-2 font-medium bg-zinc-200;
	}

	/* .sidebar nav .current {
		color: var(--clr-link-weak);
	} */

	.single > * {
		@apply mt-3;
	}

	.single > header {
		@apply mt-0;
	}

	.single > h2 {
		@apply mt-6;
		@apply mb-4;
	}
	.single > h3 {
		@apply mt-5;
		@apply mb-4;
	}
	.single > h4 {
		@apply mt-4;
		@apply mb-4;
	}
	.single > h4 {
		@apply mt-4;
		@apply mb-4;
	}
	.single > h5 {
		@apply mt-4;
		@apply mb-4;
	}
	.single > h6 {
		@apply mt-4;
		@apply mb-4;
	}

	blockquote {
		@apply mx-6;
	}

	aside :is(h2, a, span),
	.post-date {
		@apply text-zinc-600;
	}

	@media (prefers-contrast: more) {
		aside :is(h2, a, span),
		.post-date {
			@apply text-zinc-800;
		}
	}
}

.page-header {
	height: var(--header-height);
}

.content-wrapper {
	grid-area: content;
	display: grid;
	grid-template-rows: 1fr auto;
}

.sidebar {
	@apply text-sm;
}

.sidebar-left {
	grid-area: sidebar-l;
	display: none;
}

.sidebar-right {
	grid-area: sidebar-r;
	display: none;
}

.page-header {
	grid-area: header;
}

.page-footer {
	grid-area: footer;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}

@media screen(md) {
	body {
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
		grid-template-areas:
			"header    header"
			"sidebar-l content"
			"sidebar-l footer";
	}

	.sidebar-left {
		display: block;
	}
}

@media screen(lg) {
	body {
		grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"header    header  header"
			"sidebar-l content sidebar-r"
			"sidebar-l footer  sidebar-r";
	}

	.sidebar-right {
		display: block;
	}
}

@media print {
	body {
		background-color: white;
		padding-top: 0.8in;
		padding-inline: 1.0in;
		padding-bottom: 1.0in;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "content";
	}

	._nav-skip-link,
	.page-header,
	body > footer,
	.sidebar {
		display: none;
	}
}
