---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

export interface Props {
	title?: string
	description?: string
}

const { title, description } = Astro.props;

const pageTitle = title ?? SITE_TITLE
const pageDescription = description ?? SITE_DESCRIPTION
---

<html lang="en">
	<head>
		<HeadCommon />
		<HeadSEO
			title={ pageTitle }
			description={ pageDescription }
		/>
		<title set:html={ `${ pageTitle } - 1conundrum` }></title>
	</head>
	<body class="">
		<a
			class="_nav-skip-link block box-content fixed rounded-t-none"
			href="#main-content"
		>Skip to main content</a>
		<SiteHeader>
		</SiteHeader>
		<div class="content-wrapper">
			<main id="main-content" class="mb-2">
				<slot />
			</main>
			<SiteFooter>
				<a href="#" slot="util-links">
					<span aria-hidden="true">▲&nbsp;</span>Back to top
				</a>
			</SiteFooter>
		</div>
		<div class="sidebar sidebar-left">
			<div class="sidebar-inner">
				<slot name="sidebar-left"/>
			</div>
		</div>
		<div class="sidebar sidebar-right">
			<div class="sidebar-inner">
				<slot name="sidebar-right"/>
			</div>
		</div>
	</body>
</html>
