---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ArticleList from "../../../components/ArticleList.astro";
import { getAllTags, getArticles } from "../../_util.astro";
import NavTags from "../../../components/NavTags.astro";
import NavPagination from "../../../components/NavPagination.astro";
import PageHeading from "../../../components/PageHeading.astro";

export async function getStaticPaths({ paginate }) {
	const tagInfoArr = await getAllTags();
	const blogPosts = await getArticles();
	return tagInfoArr.flatMap((tagInfo) => {
		const filteredPosts = blogPosts.filter((post) => post.data.tags.includes(tagInfo.slug));
		return paginate(filteredPosts, {
			params: {
				slug: tagInfo.slug
			},
			pageSize: 8,
		});
	});
}

const { slug } = Astro.params
const { page } = Astro.props

const title = `Posts tagged: ${slug}`;
---

<BaseLayout title={title}>
	<PageHeading>{title}</PageHeading>
	<ArticleList posts={ page.data } postHeadingLevel={2} />
	<NavPagination page={ page } archiveBase={ `/tags/${ slug }` }/>
	<div slot="sidebar-left" class="sidebar-item">
		<NavTags />
	</div>
</BaseLayout>
